## BUILDS
*.o
*.obj
*.exe
Debug
CMakeFiles
build

## Ignore Custom Launch and AutoBuild scripts
build.bat
edit.bat

## Ignore imgui lib
imgui
imgui.ini

## Ignore builds 
CMakeCache.txt
cmake_install.cmake
build.ninja
